*{
  margin: 0;
}

body{
  font-family: 'Rubik', sans-serif;
  background-color: hsl(226, 43%, 10%);
}

.App{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 8% auto;
}

.profile-component{
  display: grid;
  grid-template-rows: auto auto;
  background-color: hsl(235, 46%, 20%);
  border-radius: 10px;
  max-width: 200px;
}

.profile{
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: hsl(246, 80%, 60%);
  padding: 25px;
  min-height: 220px;
  border-radius: 10px;
}

.profile h1{
  font-size: 30px;
  color: white;
  font-weight: 300;
}

.profile p{
  color: hsl(236, 100%, 87%);
  font-size: 12px;
  margin: 5px 0;
}

.profile-track{
  display: flex;
  flex-direction: column;
  background-color: hsl(235, 46%, 20%);
  gap: 20px;
  color: hsl(235, 45%, 61%);
  padding: 25px;
  border-radius: 0 0 10px 10px ;
}

.profile-img img{
  max-width: 50px;
  border: 2px solid white;
  border-radius: 50px;
}

.data-component{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.data-component-list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 640px;
}

.data-component img:nth-child(1){
  position: absolute;
  right: 10px;
  width: 60px;
}

.content{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: hsl(235, 46%, 20%);
  width: 80%;
  height: 62%;
  bottom: 0;
  border-radius: 10px;
  padding: 20px;
  color: white;
}

.content-one{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-two h1{
  font-size: 42px;
  letter-spacing: 2px;
  font-weight: 300;
}

.content-two p{
  color: hsl(235, 45%, 61%);
}

.content-two{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width : 620px) {
   
  .App{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: auto;
  }


}